# **MÓDULO 25 - Operações Básicas SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [4]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [5]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA (1).csv", delimiter=';')

In [6]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [7]:
def run_query(query):
    return pd.read_sql_query(query, conn)

In [35]:
#query = """
#SELECT *
#FROM tb_vendas

#"""
#result_df = run_query(query)
#print(result_df)

# 1) Faça uma consulta que retorne os nomes dos produtos distintos que temos na base de venda.

In [32]:
query = """
SELECT DISTINCT produto
FROM tb_vendas

"""
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2   BERMUDA
3   VESTIDO
4      MEIA

# 2) Faça uma consulta que retorne a contagem dos clientes distintos que temos na nossa base, não esqueça de renomear sua coluna.

Dica: Você pode usar o distinct dentro do count()

In [31]:
query = """
SELECT COUNT(DISTINCT ID_CLIENTE) AS TOTAL_CLIENTES
FROM tb_vendas
"""
result_df = run_query(query)
print(result_df)

   TOTAL_CLIENTES
0              22

# 3) Faça uma consulta que retorne uma coluna com os produtos distintos e o valor_unid de cada produto. Porém apenas para produtos onde o valor_unid é maior ou igual a 50 reais.

In [30]:
query = """
SELECT DISTINCT produto, valor_unid
FROM tb_vendas
WHERE valor_unid >= 50
"""
result_df = run_query(query)
print(result_df)

   PRODUTO VALOR_UNID
0    CALCA       89,9
1  BERMUDA       79,5

# [DESAFIO] 4) Faça uma consulta que retorne o ID das compras e o valor total gasto nessa compra (Valor_unidade X Unidades) das 5 compras com mais valor total gasto.

In [29]:
query = """
SELECT ID_COMPRA, valor_unid * unidades AS VALOR_TOTAL
FROM tb_vendas
ORDER BY VALOR_TOTAL DESC LIMIT 5
"""
result_df = run_query(query)
print(result_df)

   ID_COMPRA  VALOR_TOTAL
0       1267          204
1       1253          178
2       1255          178
3       1257          178
4       1262          178

# 5) Faça uma consulta que retorne os produtos e a média do preço da unidade dos produtos, ordenando do maior para o menor.

In [28]:
query = """
SELECT produto, AVG(valor_unid) AS PRECO_MEDIO
FROM tb_vendas
GROUP BY produto
ORDER BY AVG(valor_unid) DESC
"""
result_df = run_query(query)
print(result_df)

    PRODUTO  PRECO_MEDIO
0   VESTIDO        102.0
1     CALCA         89.0
2   BERMUDA         79.0
3  CAMISETA         34.0
4      MEIA         25.0

# 6) Faça uma consulta que retorne o id dos 3 clientes da base de vendas que mais relalizaram compras e a quantidade de compras realizadas.

In [27]:
query = """
SELECT ID_CLIENTE, COUNT(ID_COMPRA) AS QUANTIDADE_COMPRAS
FROM tb_vendas
GROUP BY ID_CLIENTE
ORDER BY QUANTIDADE_COMPRAS DESC LIMIT 3
"""
result_df = run_query(query)
print(result_df)

   ID_CLIENTE  QUANTIDADE_COMPRAS
0        9425                   2
1        9081                   2
2        9801                   1

Bonus do aluno - Segue consulta que verifica quais foram os 5 clientes que mais compraram em nossa loja

In [26]:
query = """
SELECT ID_CLIENTE, valor_unid * unidades AS VALOR_TOTAL
FROM tb_vendas
GROUP BY VALOR_TOTAL
ORDER BY VALOR_TOTAL DESC LIMIT 5
"""
result_df = run_query(query)
print(result_df)

   ID_CLIENTE  VALOR_TOTAL
0        9798          204
1        9481          178
2        9630          158
3        9796          136
4        9425          102